@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Direccion:Redmond, WA 98052-6399<br />
    <abbr title="Telefono">Telefono:</abbr>
    425.555.0100
</address>