@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="col-lg-4">

        <img class="img-responsive" src="~/Content/images/loago_joyas.jpg" style="width: 500px"/>
    </div>
    <div class="col-lg-1">
    </div>
    <div style="" class="col-lg-7">
        <p style="text-align: center; color: #3c8dbc; font-family: cursive; font-size:50px; ">Mision</p>
        <p style="text-align: left">La Asociación de Niños Joyas de Cristo bajo el Departamento de Educación Cristiana y Familia ha sido organizada para propiciar el desarrollo físico-emocional, social y espiritual de nuestra niñez, con la ayuda de las Escrituras y el Espíritu Santo y un Programa de Actividades a fin de que puedan ser ciudadanos fieles a Dios y útiles a su familia; a su comunidad y a su organización cristiana.
        </p>
        <br/>   
        <p style="text-align: center; color: #3c8dbc; font-family: cursive; font-size:50px; ">Vision</p>
        <p style="text-align: left">
            Es que la niñez crezca con un fundamento firme en Dios, y así como van creciendo físicamente también vayan creciendo espiritualmente y enseñarle a los niños el amor por las almas.
        </p>
        <a href="#"><span style="text-align: left"><i class="fa fa-facebook"></i>acebook </span></a>&nbsp
        <a href="#"><span><i class="fa fa-twitter">Twitter</i></span></a> &nbsp
    </div>
</div>