<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <connectionStrings>
    <!--Cadena de Conexion Con Autentificacion-->
    <!--<add name="JpcSystemDbContext" connectionString="Data Source=.;         Initial Catalog=JPCSystem_DB;User ID=jpc;Password=123456" providerName="System.Data.SqlClient" />-->
    <!--cadena de conexion sin autentificacion-->
    <!--<add name="JpcSystemDbContext" connectionString="Data Source=.;         Initial Catalog=JPCSystem_DB;          Integrated Security=SSPI;" providerName="System.Data.SqlClient" />-->
    <!--<add name="JpcSystemDbContext" connectionString="workstation id=JpcSystemDb.mssql.somee.com;packet size=4096; user id=GLimay_SQLLogin_2; pwd=yxgnysohrc;data source=JpcSystemDb.mssql.somee.com;persist security info=False;initial catalog=JpcSystemDb" providerName="System.Data.SqlClient" />-->
    
   <!--<add name="JpcSystemDbContext" connectionString="workstation id=DbJPCSystem.mssql.somee.com;packet size=4096;user id=GLimay_SQLLogin_2;pwd=yxgnysohrc;data source=DbJPCSystem.mssql.somee.com;persist security info=False;initial catalog=DbJPCSystem" providerName="System.Data.SqlClient" />-->
  
    <add name="JpcSystemDbContext" 
         connectionString="Data Source=LENOVOJOHN\SQLEXPRESS;Initial Catalog=DbJPCSystem;Integrated Security=True" 
           providerName="System.Data.SqlClient" />
  
  </connectionStrings>

    
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name="JPCSystem.Repository" />
    <namespace name="JPCSystem.Repository" />
    <assembly name="JPCSystem.Service" />
    <namespace name="JPCSystem.Service" />
    <container>
      <!-- Repository -->
      <register type="IAlumnoRepository" mapTo="AlumnoRepository" />
      <register type="IApoderadoRepository" mapTo="ApoderadoRepository" />
      <register type="IDocumentoRepository" mapTo="DocumentoRepository" />
      <register type="IDepartamentoRepository" mapTo="DepartamentoRepository" />
      <register type="IPromedioRepository" mapTo="PromedioRepository" />
      <register type="IDistritoRepository" mapTo="DistritoRepository" />
      <register type="IAnioEscolarRepository" mapTo="AnioEscolarRepository" />
      <register type="IMatriculaRepository" mapTo="MatriculaRepository" />
      <register type="IGradoRepository" mapTo="GradoRepository" />
      <register type="INivelRepository" mapTo="NivelRepository" />
      <register type="ISeccionRepository" mapTo="SeccionRepository" />
      <register type="IDocenteRepository" mapTo="DocenteRepository" />
      <register type="ICursoRepository" mapTo="CursoRepository" />
      <register type="IRegNotasRepository" mapTo="RegNotasRepository" />
       <register type="IAsistenciaRepository" mapTo="AsistenciaRepository" />
      <register type="INotasRepository" mapTo="NotasRepository" />
      <register type="ITrimestreRepository" mapTo="TrimestreRepository" />
      <register type="IDocenteCursoRepository" mapTo="DocenteCursoRepository" />
      <register type="IUsuarioRepository" mapTo="UsuarioRepository" />
      <register type="IUbigeoRepository" mapTo="UbigeoRepository" />

      <!-- Service -->
      <register type="IAlumnoService" mapTo="AlumnoService" />
      <register type="IApoderadoService" mapTo="ApoderadoService" />
      <register type="IDocumentoService" mapTo="DocumentoService" />
      <register type="IDepartamentoService" mapTo="DepartamentoService" />
      <register type="IPromedioService" mapTo="PromedioService" />
      <register type="IDistritoService" mapTo="DistritoService" />
      <register type="IAnioEscolarService" mapTo="AnioEscolarService" />
      <register type="IMatriculaService" mapTo="MatriculaService" />
      <register type="IGradoService" mapTo="GradoService" />
      <register type="INivelService" mapTo="NivelService" />
      <register type="ISeccionService" mapTo="SeccionService" />
      <register type="IDocenteService" mapTo="DocenteService" />
      <register type="ICursoService" mapTo="CursoService" />
      <register type="IRegNotasService" mapTo="RegNotasService" />
      <register type="IAsistenciaService" mapTo="AsistenciaService" />
      <register type="INotasService" mapTo="NotasService" />
      <register type="ITrimestreService" mapTo="TrimestreService" />
      <register type="IDocenteCursoService" mapTo="DocenteCursoService" />
      <register type="IUsuarioService" mapTo="UsuarioService" />
      <register type="IUbigeoService" mapTo="UbigeoService" />

    </container>
  </unity>
  
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <globalization uiCulture="es-PE" culture="es-PE" />
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <!--<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />-->
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>