@model IEnumerable<JPCSystem.Domain.AnioAcademico>

@{
    ViewBag.Title = "Index";
}

@section titulo
{
    <h2> Lista de Años Académicos </h2>
}

@section scripts
{
    <script src="~/Scripts/JPCSystemJs/AnioEscolar/anioEscolar.js"></script>
}

<p>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="form-inline">
                    <div class="col-xs-12 col-sm-12 col-lg-12">
                        <label>Año Academico: </label>
                        @Html.TextBox("criterioAnio", "", new {@class = "form-control", placeholder = "Año Academico"})
                        <button id="btnAgregarAnio" type="button" class="btn btn-primary">Agregar Registro <i class="fa fa-plus"></i> </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</p>

<div class="modal fade" id="myModalAnio" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" id="btnGuardaAnio" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>

<div class="table-responsive">
    <div id="search_result_anio">
        @Html.Partial("_listaAnios",Model)
    </div>
</div>
