@model IEnumerable<JPCSystem.Domain.Curso>

@{
    ViewBag.Title = "Index";
}

@section titulo{
    <h3>Cursos</h3>
}

<p>
    <button class="btn btn-primary" id="btnNuevoCurso"><span>Agregar Curso <i class="fa fa-plus"></i> </span></button>
</p>


<div class="table-responsive">
    <div id="search_result_Curso">
        @Html.Partial("_ListaCursos",Model)
    </div>
</div>


<div id="myModalCurso" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title">Modal title</h5>
            </div>
            <div class="modal-body">
                <div id="modal-content">
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnGuardarCurso" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/JPCSystemJs/Curso/Curso.js"></script>
}
