@section HeadSection {
	<link href="~/Content/selectize/_template.min.css" rel="stylesheet" />
}
@section BodyInits {
}
@section BodyScripts {
	<script src="~/Content/selectize/_plug.min.js"></script>
}


<select class="form-control control-select" name="sel0101">
	<option value="">— нет —</option>
	<optgroup label="Институты" />
	<option value="1">Институт аэрокосмических приборов и систем</option>
	<option value="2">Институт радиотехники, электроники и связи</option>
	<option selected="selected" value="3">Институт инновационных технологий в электромеханике и энергетике</option>
	<option value="4">Институт вычислительных систем и программирования</option>
	<option value="5">Институт информационных систем и защиты информации</option>
	<option value="6">Институт инноватики и базовой магистерской подготовки</option>
	<optgroup label="Факультеты" />
	<option value="7">Гуманитарный факультет</option>
	<option value="8">Институт военного образования</option>
	<option value="9">Институт технологий предпринимательства</option>
	<option value="10">Юридический факультет</option>
	<option value="11">Институт непрерывного и дистанционного образования</option>
	<option value="12">Факультет среднего профессионального образования</option>
</select>


<select class="form-control control-select" name="sel0201" multiple="multiple">
	<option value="1">Абитуниентам</option>
	<option selected="selected" value="2">Студентам</option>
	<option value="3">Аспирантам</option>
	<option selected="selected" value="4">Сотрудникам</option>
	<option value="5">Партнерам</option>
	<option selected="selected" value="6">Университет</option>
	<option value="7">Наука</option>
	<option selected="selected" value="8">Образование</option>
	<option value="9">Международная деятельность</option>
	<option selected="selected" value="10">Студенческая жизнь</option>
</select>
